Repository rockphin/gyeonhae-android, pull requests merged in 2021-07, with the labels that each got.

#8 chore(workflow): setup android and lint workflows
  .github/workflows/android.yml
  .github/workflows/lint.yml
Labels: Priority: Low, Scope: Other, Status: In progress, Type: Enhancement

#9 style: fix lint
  app/src/androidTest/java/us/gijuno/gyeonhae/ExampleInstrumentedTest.kt
  app/src/main/java/us/gijuno/gyeonhae/MainActivity.kt
  app/src/main/java/us/gijuno/gyeonhae/SplashActivity.kt
  app/src/test/java/us/gijuno/gyeonhae/ExampleUnitTest.kt
Labels: Priority: Trivial, Status: In progress

#10 refactor: move activity to presentation layer
  app/src/main/AndroidManifest.xml
  app/src/main/java/us/gijuno/gyeonhae/presentation/MainActivity.kt
  app/src/main/java/us/gijuno/gyeonhae/presentation/SplashActivity.kt
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_splash.xml
Labels: Priority: Moderate, Scope: Presentation, Status: In progress, Type: Refactor

#13 fix(presentation): remove viewModel field from BaseActivity
  app/src/main/java/us/gijuno/gyeonhae/presentation/base/BaseActivity.kt
Labels: Priority: Moderate, Scope: Presentation, Type: Enhancement

#34 feat(data): setup mapper interfaces
  app/src/main/java/us/gijuno/gyeonhae/data/mappers/EntityMapper.kt
  app/src/main/java/us/gijuno/gyeonhae/data/mappers/Mapper.kt
Labels: Priority: Important, Scope: Data, Type: New feature

#35 chore(deps): bump gradle plugins version
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: Priority: Trivial, Scope: Dependency, Type: Chore
